[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
pinecone-client = "*"
python-dotenv = "*"
google-cloud-storage = "*"
pypdf = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3.10"
